* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

form {
    background-color: #599e7b;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

form h1 {
    margin-bottom: 50px;
    font-size: 100px;
    text-decoration: underline;
}

form h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

input, button {
    padding: 8px;
}

button {
    background-color: #4b7679;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

ol li {
    text-align: center;
    cursor: pointer;
}

.check {
    text-decoration: line-through;
    color: #599e7b;
}